<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Back" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>ajouter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Libelle</ion-label>
    <ion-input [(ngModel)]="data.libele" placeholder="Entrez un libellé"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Montant</ion-label>
    <ion-input [(ngModel)]="data.montant" placeholder="Entrez le montant"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Date</ion-label>
    <ion-input [(ngModel)]="data.date" placeholder="Date jj/mm/aaaa"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Note</ion-label>
    <ion-input [(ngModel)]="data.note" placeholder="Ajoutez une note"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button (click)="submitForm()" [routerLink]="['/accueil']">Ajouter
    </ion-button>
  </ion-item>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>  
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule" routerLink="/accueil">
        <ion-icon name="cash-outline"></ion-icon>
        <ion-label>Compte</ion-label>
      </ion-tab-button>
        
      <ion-tab-button tab="map" routerLink="/ajouter">
        <ion-icon name="add"></ion-icon>
        <ion-label>Dépense</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="speakers" routerLink="/dette">
        <ion-icon name="hourglass-outline"></ion-icon>
        <ion-label>A rendre</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="about" routerLink="/plus">
        <ion-icon name="add"></ion-icon>
        <ion-label>Dette</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="map" routerLink="/statistique">
        <ion-icon name="analytics"></ion-icon>
        <ion-label>Statistiques</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>
  </ion-toolbar>
  </ion-footer>



